<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
</head>
<body>
<h3>Create New Employee</h3>
<th:block th:if="${message}">
    <h6 th:text="${message}"></h6>
</th:block>
<form th:action="@{/employees/create}" method="post" th:object="${employee}">
    <div>
        <label>Họ Tên: </label>
        <input type="text" th:field="*{employeeName}">
    </div>
    <div>
        <label>Giới tính: </label>
        <label>Nam </label>
        <input type="radio" th:field="*{gender}" value="1">
        <label>Nữ </label>
        <input type="radio" th:field="*{gender}" value="0">
    </div>
    <div>
        <label>Ngày sinh: </label>
        <input type="date" th:field="*{dayOfBirth}">
    </div>
    <div>
        <label>Số điện thoại: </label>
        <input type="text" th:field="*{phoneNumber}">
    </div>
    <div>
        <label>Số CMND: </label>
        <input type="text" th:field="*{employeeIdcard}">
    </div>
    <div>
        <label>Email: </label>
        <input type="text" th:field="*{employeeEmail}">
    </div>
    <div>
        <label>Địa chỉ: </label>
        <input type="text" th:field="*{employeeAddress}">
    </div>
    <div>
        <label>Group: </label>
        <select th:field="*{groupEmployee}">
            <option th:each="group:${groupEmployees}"
                    th:value="${group.groupEmployeeId}"
                    th:text="${group.groupEmployeeName}"></option>
        </select>
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>